.container {
    margin-left: auto;
	margin-right: auto;
	max-width: $container-max-width;
    overflow: auto;
    padding-left: $gutter;
    padding-right: $gutter;

    &.fluid {
        max-width: none;
    }

    &.edge {
        padding-left: 0;
        padding-right: 0;
    }
}