.row {
    display: flex;

    &:not( .gutter-remove ) {
        margin-left: - $gutter / 2;
        margin-right: - $gutter / 2;
    }

    // Wrap
    flex-wrap: wrap;

    &.wrap-wrap {
        flex-wrap: wrap;
    }

    &.wrap-nowrap {
        flex-wrap: nowrap;
    }

    &.wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    // Direction
    flex-direction: row; // Default

    &.direction-normal {
        flex-direction: row;
    }

    &.direction-reverse {
        flex-direction: row-reverse;
    }

    &.direction-down {
        flex-direction: column;
    }

    &.direction-up {
        flex-direction: column-reverse;
    }

    // Horizontally align columns
    &.align-start {
        justify-content: flex-start;
    }

    &.align-end {
        justify-content: flex-end;
    }

    &.align-center {
        justify-content: center;
    }

    &.align-justify {
        justify-content: space-between;
    }

    &.align-equally {
        justify-content: space-around;
    }

    // Verically align columns
    &.valign-top {
        align-items: flex-start;
    }

    &.valign-bottom {
        align-items: flex-end;
    }

    &.valign-middle {
        align-items: center;
    }

    &.valign-baseline {
        align-items: baseline;
    }

    &.valign-stretch {
        align-items: stretch;
    }

    // Vertically align wrapped columns
    align-items: flex-start; // Default

    &.valign-wrapped-top {
        align-content: flex-start;
    }

    &.valign-wrapped-bottom {
        align-content: flex-end;
    }

    &.valign-wrapped-middle {
        align-content: center;
    }

    &.valign-wrapped-stretch {
        align-content: stretch;
        align-items: stretch;
    }

    &.valign-wrapped-justify {
        align-content: space-between;
    }

    &.valign-wrapped-equally {
        align-content: space-around;
    }
}