.demo {
    background-color: rgba( $blue, 0.1 );
    margin-bottom: 40px;

    &:not( .edge ) {
        border-left: 15px solid rgba( $blue, 0.1 );
        border-right: 15px solid rgba( $blue, 0.1 );
        padding-left: 0;
        padding-right: 0;
    }

    .row {
        background-color: rgba( $purple, 0.1 );

        &:not( .gutter-remove ) {
            border-left: 15px solid rgba( $purple, 0.1 );
            border-right: 15px solid rgba( $purple, 0.1 );
        }
    }

    .column {
        background-color: rgba( $pink, 0.1 );
    }

    .row:not( .gutter-remove ) .column {
        border-left: 15px solid rgba( $pink, 0.1 );
        border-right: 15px solid rgba( $pink, 0.1 );
        padding-left: 0;
        padding-right: 0;
    }
}