.eixample {
    margin: 50px 0;
}

.eixample .row {
    margin: 0 -1%;
    white-space: nowrap;
    overflow: hidden;
}

.illa {
    height: 0;
    padding-bottom: 14.666666667%;
    background-color: $blue;
    position: relative;
    margin: 1%;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.illa:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 10px solid $blue;
    border-left: 10px solid white;
    border-right: 10px solid white;
    width: calc( 100% - 20px );
    height: 0;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.illa:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 10px solid $blue;
    border-left: 10px solid white;
    border-right: 10px solid white;
    width: calc( 100% - 20px );
    height: 0;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.illa:hover {
    background-color: $purple;
}

.illa:hover:after {
    border-top-color: $purple;
}

.illa:hover:before {
    border-bottom-color: $purple;
}