.eix__column {
    position: relative;
    padding-left: $gutter;
    padding-right: $gutter;
    min-width: 0;
}

// Vertically align
.eix__column--valign-top {
    align-self: flex-start;
}

.eix__column--valign-bottom {
    align-self: flex-end;
}

.eix__column--valign-middle {
    align-self: center;
}

.eix__column--valign-baseline {
    align-self: baseline;
}

.eix__column--valign-stretch {
    align-self: stretch;
}

// Sizes
// Extra small
.eix__column--xs-1 {
    flex-basis: ( 100% / 12 ) * 1;
}

.eix__column--xs-2 {
    flex-basis: ( 100% / 12 ) * 2;
}

.eix__column--xs-3 {
    flex-basis: ( 100% / 12 ) * 3;
}

.eix__column--xs-4 {
    flex-basis: ( 100% / 12 ) * 4;
}

.eix__column--xs-5 {
    flex-basis: ( 100% / 12 ) * 5;
}

.eix__column--xs-6 {
    flex-basis: ( 100% / 12 ) * 6;
}

.eix__column--xs-7 {
    flex-basis: ( 100% / 12 ) * 7;
}

.eix__column--xs-8 {
    flex-basis: ( 100% / 12 ) * 8;
}

.eix__column--xs-9 {
    flex-basis: ( 100% / 12 ) * 9;
}

.eix__column--xs-10 {
    flex-basis: ( 100% / 12 ) * 10;
}

.eix__column--xs-11 {
    flex-basis: ( 100% / 12 ) * 11;
}

.eix__column--xs-12 {
    flex-basis: 100%;
}

// Small
@media (min-width: $breakpoint-sm) {
    .eix__column--sm-1 {
        flex-basis: ( 100% / 12 ) * 1;
    }

    .eix__column--sm-2 {
        flex-basis: ( 100% / 12 ) * 2;
    }

    .eix__column--sm-3 {
        flex-basis: ( 100% / 12 ) * 3;
    }

    .eix__column--sm-4 {
        flex-basis: ( 100% / 12 ) * 4;
    }

    .eix__column--sm-5 {
        flex-basis: ( 100% / 12 ) * 5;
    }

    .eix__column--sm-6 {
        flex-basis: ( 100% / 12 ) * 6;
    }

    .eix__column--sm-7 {
        flex-basis: ( 100% / 12 ) * 7;
    }

    .eix__column--sm-8 {
        flex-basis: ( 100% / 12 ) * 8;
    }

    .eix__column--sm-9 {
        flex-basis: ( 100% / 12 ) * 9;
    }

    .eix__column--sm-10 {
        flex-basis: ( 100% / 12 ) * 10;
    }

    .eix__column--sm-11 {
        flex-basis: ( 100% / 12 ) * 11;
    }

    .eix__column--sm-12 {
        flex-basis: 100%;
    }
}

// Medium
@media (min-width: $breakpoint-md) {
    .eix__column--md-1 {
        flex-basis: ( 100% / 12 ) * 1;
    }

    .eix__column--md-2 {
        flex-basis: ( 100% / 12 ) * 2;
    }

    .eix__column--md-3 {
        flex-basis: ( 100% / 12 ) * 3;
    }

    .eix__column--md-4 {
        flex-basis: ( 100% / 12 ) * 4;
    }

    .eix__column--md-5 {
        flex-basis: ( 100% / 12 ) * 5;
    }

    .eix__column--md-6 {
        flex-basis: ( 100% / 12 ) * 6;
    }

    .eix__column--md-7 {
        flex-basis: ( 100% / 12 ) * 7;
    }

    .eix__column--md-8 {
        flex-basis: ( 100% / 12 ) * 8;
    }

    .eix__column--md-9 {
        flex-basis: ( 100% / 12 ) * 9;
    }

    .eix__column--md-10 {
        flex-basis: ( 100% / 12 ) * 10;
    }

    .eix__column--md-11 {
        flex-basis: ( 100% / 12 ) * 11;
    }

    .eix__column--md-12 {
        flex-basis: 100%;
    }
}

// Large
@media (min-width: $breakpoint-lg) {
    .eix__column--lg-1 {
        flex-basis: ( 100% / 12 ) * 1;
    }

    .eix__column--lg-2 {
        flex-basis: ( 100% / 12 ) * 2;
    }

    .eix__column--lg-3 {
        flex-basis: ( 100% / 12 ) * 3;
    }

    .eix__column--lg-4 {
        flex-basis: ( 100% / 12 ) * 4;
    }

    .eix__column--lg-5 {
        flex-basis: ( 100% / 12 ) * 5;
    }

    .eix__column--lg-6 {
        flex-basis: ( 100% / 12 ) * 6;
    }

    .eix__column--lg-7 {
        flex-basis: ( 100% / 12 ) * 7;
    }

    .eix__column--lg-8 {
        flex-basis: ( 100% / 12 ) * 8;
    }

    .eix__column--lg-9 {
        flex-basis: ( 100% / 12 ) * 9;
    }

    .eix__column--lg-10 {
        flex-basis: ( 100% / 12 ) * 10;
    }

    .eix__column--lg-11 {
        flex-basis: ( 100% / 12 ) * 11;
    }

    .eix__column--lg-12 {
        flex-basis: 100%;
    }
}

// Extra large
@media (min-width: $breakpoint-xl) {
    .eix__column--xl-1 {
        flex-basis: ( 100% / 12 ) * 1;
    }

    .eix__column--xl-2 {
        flex-basis: ( 100% / 12 ) * 2;
    }

    .eix__column--xl-3 {
        flex-basis: ( 100% / 12 ) * 3;
    }

    .eix__column--xl-4 {
        flex-basis: ( 100% / 12 ) * 4;
    }

    .eix__column--xl-5 {
        flex-basis: ( 100% / 12 ) * 5;
    }

    .eix__column--xl-6 {
        flex-basis: ( 100% / 12 ) * 6;
    }

    .eix__column--xl-7 {
        flex-basis: ( 100% / 12 ) * 7;
    }

    .eix__column--xl-8 {
        flex-basis: ( 100% / 12 ) * 8;
    }

    .eix__column--xl-9 {
        flex-basis: ( 100% / 12 ) * 9;
    }

    .eix__column--xl-10 {
        flex-basis: ( 100% / 12 ) * 10;
    }

    .eix__column--xl-11 {
        flex-basis: ( 100% / 12 ) * 11;
    }

    .eix__column--xl-12 {
        flex-basis: 100%;
    }
}