.eix__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    max-width: $container-max-width;
}

.eix__container--fluid {
    max-width: none;
}

.eix__container--edge {
    padding-left: 0;
    padding-right: 0;
}
