// Hide columns
.eix__column--xs-hide {
    @media ( max-width: $breakpoint-sm - 1 ) {
        display: none;
    }
}

.eix__column--sm-hide {
    @media ( min-width: $breakpoint-sm ) and ( max-width: $breakpoint-md - 1 ) {
        display: none;
    }
}

.eix__column--md-hide {
    @media ( min-width: $breakpoint-md ) and ( max-width: $breakpoint-lg - 1 ) {
        display: none;
    }
}

.eix__column--lg-hide {
    @media ( min-width: $breakpoint-lg ) and ( max-width: $breakpoint-xl - 1 ) {
        display: none;
    }
}

.eix__column--xl-hide {
    @media ( min-width: $breakpoint-xl ) {
        display: none;
    }
}

// Show columns
.eix__column--xs-show {
    @media ( min-width: $breakpoint-sm ) {
        display: none;
    }
}

.eix__column--sm-show {
    @media ( max-width: $breakpoint-sm - 1 ) {
        display: none;
    }

    @media ( min-width: $breakpoint-md ) {
        display: none;
    }
}

.eix__column--md-show {
    @media ( max-width: $breakpoint-md - 1 ) {
        display: none;
    }

    @media ( min-width: $breakpoint-lg ) {
        display: none;
    }
}

.eix__column--lg-show {
    @media ( max-width: $breakpoint-lg - 1 ) {
        display: none;
    }

    @media ( min-width: $breakpoint-xl ) {
        display: none;
    }
}

.eix__column--xl-show {
    @media ( max-width: $breakpoint-xl - 1 ) {
        display: none;
    }
}