.eix__row {
    display: flex;
    margin-left: -$gutter;
    margin-right: -$gutter;

    // Wrap
    flex-wrap: wrap; // Default

    // Direction
    flex-direction: row; // Default
}

.eix__row--wrap-nowrap {
    flex-wrap: nowrap;
}

.eix__row--wrap-reverse {
    flex-wrap: wrap-reverse;
}


.eix__row--direction-normal {
    flex-direction: row;
}

.eix__row--direction-reverse {
    flex-direction: row-reverse;
}

.eix__row--direction-down {
    flex-direction: column;
}

.eix__row--direction-up {
    flex-direction: column-reverse;
}

// Horizontally align columns
.eix__row--align-start {
    justify-content: flex-start;
}

.eix__row--align-end {
    justify-content: flex-end;
}

.eix__row--align-center {
    justify-content: center;
}

.eix__row--align-justify {
    justify-content: space-between;
}

.eix__row--align-equally {
    justify-content: space-around;
}

// Verically align columns
.eix__row--valign-top {
    align-items: flex-start;
}

.eix__row--valign-bottom {
    align-items: flex-end;
}

.eix__row--valign-middle {
    align-items: center;
}

.eix__row--valign-baseline {
    align-items: baseline;
}

.eix__row--valign-stretch {
    align-items: stretch;
}

// Vertically align wrapped columns
.eix__row--wrap-align-start {
    align-content: flex-start;
}

.eix__row--wrap-align-end {
    align-content: flex-end;
}

.eix__row--wrap-align-center {
    align-content: center;
}

.eix__row--wrap-align-stretch {
    align-content: stretch;
}

.eix__row--wrap-align-justify {
    align-content: space-between;
}

.eix__row--wrap-align-equally {
    align-content: space-around;
}