.row {
    display: flex;
    margin-left: -$gutter;
    margin-right: -$gutter;

    // Wrap
    flex-wrap: wrap; // Default

    &.wrap-nowrap {
        flex-wrap: nowrap;
    }

    &.wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    // Direction
    flex-direction: row; // Default

    &.direction-normal {
        flex-direction: row;
    }

    &.direction-reverse {
        flex-direction: row-reverse;
    }

    &.direction-down {
        flex-direction: column;
    }

    &.direction-up {
        flex-direction: column-reverse;
    }

    // Horizontally align columns
    &.align-start {
        justify-content: flex-start;
    }

    &.align-end {
        justify-content: flex-end;
    }

    &.align-center {
        justify-content: center;
    }

    &.align-justify {
        justify-content: space-between;
    }

    &.align-equally {
        justify-content: space-around;
    }

    // Verically align columns
    &.valign-top {
        align-items: flex-start;
    }

    &.valign-bottom {
        align-items: flex-end;
    }

    &.valign-center {
        align-items: center;
    }

    &.valign-baseline {
        align-items: baseline;
    }

    &.valign-stretch {
        align-items: stretch;
    }

    // Vertically align wrapped columns
    &.wrap-align-start {
        align-content: flex-start;
    }

    &.wrap-align-end {
        align-content: flex-end;
    }

    &.wrap-align-center {
        align-content: center;
    }

    &.wrap-align-stretch {
        align-content: stretch;
    }

    &.wrap-align-justify {
        align-content: space-between;
    }

    &.wrap-align-equally {
        align-content: space-around;
    }
}